@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* formulario */

.formulario label{
    font-family: 'Raleway', sans-serif, light;
    font-weight:bold;
}

.formulario input{
    color: grey;
    
    border:0px ;
    border-bottom: solid 1px #FF3333;
    border-radius: 0px;
} 

.formulario button{
    all: unset;
    background-color: #FF3333;
    padding: 0.5em;
   display: inline-block;
   width: 8rem;
   color: white;
   
   
}