<%- include('./partials/header.ejs')  %>

    <body>

                
            <form id="contactForm"class="container mt-5 col-md-4 formulario">
                <h2>CONTACTO</h2>
                <div class="row mb-3 mt-4 formulario">
                    <label class=" col-md-1 col-form-label" for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="cont_nombre" name="nombre" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="cont_apellido" name="apellido" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="cont_email" name="email" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="mensaje">Mensaje:</label>
                    <textarea class="form-control" id="cont_mensaje" name="mensaje" rows="4" required></textarea>
                </div>
                <div class="row mt-3 formulario d-flex col-md-3 col-sm-4 col-xs-12 col-lg-2 mb-3 ">
                    <button type="button" class="text-center " id="btn-abrir-popUp">Enviar Formulario</button>       
                </div>
                <dialog class="popUp_content" id="popUpContacto">
                    <h3>Ingresaste los siguientes datos</h3>
                    <div id="datosContacto"></div>
                    <h4>Gracias por contactarnos</h4>
                    <button class="text-center " id="btn-cerrar-popUp">Aceptar</button>
                   
                  </dialog>

            </form>


        </div>

       


    <%- include('partials/footer.ejs')  %>
</body>

</html> 