<%- include('./partials/header.ejs')  %>

    <body>

        <div class="container mt-5 col-md-4 ">            
            <form id="contactForm">
                <h2>CONTACTO</h2>
                <div class="row mb-3 mt-4 formulario">
                    <label class=" col-md-1 col-form-label" for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="email">E-mail:</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
        
                <div class="row mb-3 mt-4 formulario">
                    <label for="mensaje">Mensaje:</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="4" required></textarea>
                </div>
                <div class="row mt-3 formulario d-flex col-md-3 col-sm-4 col-xs-12 col-lg-2 mb-3 ">
                    <button type="submit" class="text-center " ">Enviar Formulario</button>
                </div>
            </form>
        </div>
    </body>
        


    <%- include('partials/footer.ejs')  %>
</body>

</html> 