<ul>
    <li >
        <a class="footer__link" href="/shop">SHOP</a>
    </li>
    <li>
        <a class="footer__link" href="register">REGISTRARSE</a>
    </li>
    <li >
        <a class="footer__link" href="/auth/login">INGRESAR</a>
    </li>

    <li >
        <a class="footer__link" href="/contacto">CONTACTO</a>
    </li>
</ul>