<ul class="d-flex align-items-center gap-4">

    <li class="with-submenu" >
        <a class="navbar__link with-icon nav-link " href="/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>                            

        <ul class=" submenu">
             <li class="submenu__link "><a class="dropdown-item" href="#">Funkos</a></li>
             <li class="submenu__link"><a class="dropdown-item" href="#">Remeras</a></li>
             <li class="submenu__link"><a class="dropdown-item" href="#">Llaveros</a></li>
        </ul>

     </li>

    <li><a  class=" navbar__link  nav-link" href="/contacto" >CONTACTO</a></li>
    <li><a  class="navbar__link nav-link" href="/auth/login">LOGIN</a></li>
    <li><a  class="navbar__link nav-link" href="/shop/carrito"> <i class="fa-solid fa-cart-shopping"style="color: #ffffff"></i></a></li>

</ul>