<ul class="d-flex align-items-center gap-4">

    <li><a  class=" navbar__link  nav-link" href="/contacto" >VER TIENDA</a></li>
    <li><a  class=" navbar__link  nav-link" href="/contacto" >CONTACTO</a></li>
    <li><a  class="navbar__link nav-link" href="/auth/login">LOGIN</a></li>
    <li><a  class="navbar__link nav-link" href="/shop/carrito"> <i class="fa-solid fa-cart-shopping"style="color: #ffffff"></i></a></li>

</ul>