<%- include('../partials/header.ejs')  %>
<body>
  <div class="container">
    <form>
        <div class="col-md-6 pb-4">
            <iconify-icon icon="material-symbols:search"></iconify-icon>
            <input type="text" class="form-control" placeholder="Buscar productos...">
        </div>
      <!-- Título y botón Agregar -->
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="text-uppercase">Listado de Productos</h3>
        <a href="/admin/create"> <button type="button" class="btn btn-success  ">Agregar</button></a>
      </div>

      <!-- Títulos de las columnas -->
      <div class="row mt-2">
        <div class="col-md-2 d-flex justify-content-between"><span>ID</span></div>
        <div class="col-md-2 d-flex justify-content-between"><span>Código</span></div>
        <div class="col-md-2 d-flex justify-content-between"><span>Nombre del Producto</span></div>
        <div class="col-md-2 d-flex justify-content-between"><span>Categoría</span></div>
        <div class="col-md-2 d-flex justify-content-between">
          <!-- Botones de Modificar y Eliminar -->
          <span>Acciones</span>
        </div>
      </div>

      <!-- Caja organizada en filas y columnas -->
      <div class="row mt-2">
        <!-- Contenido de las filas -->
      </div>

      <!-- Puedes agregar más filas según sea necesario -->

    </form>
  </div>
  <%- include('../partials/footer.ejs')  %>

</body>
</html>