.popUp_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px; 
    width: 100%;
    background-color: white;
    padding: 20px;
    border: 2px solid red;
   text-align: center;
    
}
