<%- include('../partials/header.ejs')  %>

<body>
    <div class="container">
        <!-- <div class="row g-3 mb-5 mt-2"> -->
        <h1 class="page-title">Ingresar a mi cuenta</h1>
       
            
            <div >
                <form id="register"   action="/admin">

                    
                    <div class="row d-flex justify-content-center mb-3 formulario formss">
                        <label class="col-md-1 col-form-label" for="exampleInputEmail1">E-mail</label>
                        <div class="col-md-3 ">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="johndow@correo.com" required>
                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                        </div>          


                        <div class="row d-flex justify-content-center mb-3 formulario formss">
                            <label class="col-md-1 col-form-label" for="examplePassword1">Contraseña:</label>
                            <div class="col-md-3 ">
                                <input type="password" class="form-control" id="examplePassword1" placeholder="*********" required>
                               
                        </div>          
    



                        <div class="row d-flex justify-content-center mb-3 formulario mt-3 align-items-end">
                            <div class="col-md-2 col-form-label ">
                            <button type="submit" class="formulario input d-flex justify-content-center">Ingresar</button>
                        </div>
                         
                   
                        <div class="col-md-2 col-form-label">
                            <input class="form-check-input " type="checkbox" id="rememberme">
                            <label class="form-check-label formulario label" for="rememberme">
                                Recordarme
                            </label>
                        </div>
                    </div>
                
        
                   
                      

                    <div class="link d-flex justify-content-center mt-4">
                        <a class="link">Olvidé mi contraseña</a>
                    </div>


                </form>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs')  %>


</body>

</html>