* {
    overflow: hidden !important;
}
.page-title {
    font-family: 'Relaway', sans-serif;
}

.page-title {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    font-weight: 700;
}

.fixed-footer {
    position: relative !important;
}

small#emailHelp {
    display: none;
}

.forms {
    width: 350px;
    align-items: center;
    margin: auto;
    position: relative;
    row-gap: 1rem;
    
    & ::placeholder {
        color: rgb(170, 170, 170);
    }
    & label {
        font-family: 'Relaway', sans-serif;
        color: var(--text-normal);
        text-align: left;
        font-size: 0.9rem;
    }

    & .buttons {
        align-items: center;
        margin-top: 0.8rem;
        gap: 0.8rem;
    }

    & input[type="email"],
    input[type="password"] {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid var(--global-red);
        border-radius: 0 !important;
    }
    & input[type="checkbox"] {
        border: 1px solid var(--text-normal) !important;
    } 
}

.formss {
    display: flex;
    row-gap: 1rem;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.form-control {
    margin: 0.2rem 0;
    max-width: min-content !important;
    width: 300px !important;
}

.form-control input {
    max-width: 300px !important;
}

.btn-submit {
    background-color: var(--global-red);
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 500;

    &:hover {
        color: #FFFFFF;
        background-color: rgb(212, 29, 29);
    }
}
.link {
    color: var(--global-celeste);
    text-align: center;
    margin: auto;
    width: fit-content;
}

