.filter-search .filtro-titulo,
.product-brand,
.product-name,
.product-price,
.product-cuotas {
    font-family: 'Inter', sans-serif;
}
.filter-search input, .filter-search select {
    border: 1px solid var(--global-gray-border);

}
.store-container {
    height: 100vh;
}

.filter-search {
    font-size: 1.125rem;
    & .filtro-titulo {
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    & input[type="checkbox"] {
        border: 1px solid var(--global-gray-border);
        padding: 0.5rem;
    }
}

.filter-col {
    display: flex !important;
    flex-flow: row nowrap !important;
    gap: 0.5rem;
    align-items: center;

    & .label {
        display: flex !important;
        justify-content: center;
        align-items: center;

        & input {
            max-width: 3.7rem;
            max-height: 1.7rem;
            text-align: center;
            margin-left: 0.24rem;
        }
    }
}

.item-card {
    & .product-name {
        font-size: 1.125rem;
    }

    & .product-brand {
        color: var(--global-gray1);
    }
}

.footer {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0 !important;
}